/* App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE: Image */
.left-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

/* RIGHT SIDE: Login */
.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to right */
  padding-right: 60px;
}

.app-wrapper {
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 2rem;
  color: #5b2c83;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 5px;
}

.login-form button {
  padding: 12px;
  font-size: 16px;
  background-color: #5b2c83;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #3a185b;
}

.dashboard {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}
